@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/body-01.png");
  background-repeat: repeat-x;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Photo {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Photo img {
  border: 5px solid #171738;
  border-radius: 20px;
  margin: 7% 0;
  padding: 1%;
  width: 100%;
}

.Photo p {
  width: 60%;
  color: #ffe0b5;
  text-align: center;
  background-color: #171738;
  border-radius: 20px;
  padding: 2%;
  margin: 0 auto 5% auto;
}

.Footer {
  background-color: #171738;
  width: 100%;
  text-align: center;
}

.Footer i {
  color: #ffe0b5;
  padding: 3%;
}
